<p>Hello <%= @admin.full_name %>,</p>

<b>Your store is at risk of being disabled!</b>

<p>Your invoice for <%= @store.name %> has still not been paid. Here is the summary:</p>

<table class="table">
  <tr>
    <td><strong>Date Range</strong></td>
    <td><%= @start_date.beginning_of_month.strftime("%m/%d/%Y") %> - <%= @start_date.end_of_month.strftime("%m/%d/%Y") %></td>
  </tr>
  <tr>
    <td><strong>Total Orders:</strong></td>
    <td><%= @invoice.store.orders.count %></td>
  </tr>
  <tr>
    <td><strong>Total Revenue:<strong></td>
    <td><%= number_to_currency(@invoice.total_revenue.to_f / 100) %></td>
  </tr>
    <td><strong>Epic Store's Fee:</strong></td>
    <td><%= number_to_currency(@invoice.total_revenue.to_f / 100 * 0.05) %></td>
  </tr>
</table>

<p>You can also review the full invoice and order details by visiting http://dose-gates.herokuapp.com/admin/invoices/<%= @invoice.id %>.</p>

<p>Thanks!</p>
<p>Epic Sale</p>