<div class="well well-large">
  <table class="table">
    <thead>
      <h2>Invoice for <%= @invoice.store.name %></h2><br>
      <% if @invoice.status == false %>
        <%= link_to "Pay Invoice", pay_admin_invoice_path(@invoice, :fee => (total_order_amount(@orders) * 0.05)), :method => "GET", class: "btn btn-primary pull-right" %>
        <% else %>
        <h4 class="invoice_paid pull-right">Invoice Paid</h4>
      <% end %>
      <h4>Order breakdown</h4>
    </thead>
    <tr>
      <th><h4>Order ID</h4></th>
      <th><h4>Total Cost</h4></th>
      <th><h4>Epic Store's Fee</h4></th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= amount_in_dollars(order.total_cost) %></td>
      <td><%= amount_in_dollars(order.total_cost * 0.05) %></td>
    </tr>
    <% end %>
    <tr>
      <td><h4>Total</h4></td>
      <td><h4><%= amount_in_dollars(total_order_amount(@orders)) %></h4></td>
      <td><h4><%= total = amount_in_dollars(total_order_amount(@orders) * 0.05) %></h4></td>
    </tr>
  </table>
<% if @invoice.status == false %>
  <h4>
    <p>Remember, your bill of <%= total %> is due by the 15th.</p>
    <p>Thanks!</p>
    <p>Epic Sale</p>
  </h4>
<% end %>
</div>